:root { 
--gray_900_14:#060c3b14; 
--bluegray_50:#eceef1; 
--white_A700_7e:#ffffff7e; 
--gray_900_99:#060b3b99; 
--red_800:#ce0f24; 
--red_300:#d88383; 
--amber_A200:#ffd43c; 
--gray_50:#edffff; 
--deep_purple_300:#988fce; 
--green_400:#66bb6e; 
--teal_400:#20a2a2; 
--white_A700_99:#ffffff99; 
--teal_401:#209fa0; 
--black_900:#000000; 
--yellow_700:#e1b92d; 
--gray_600_6c:#6c6b7c6c; 
--deep_orange_300:#ff7f5c; 
--indigo_900_0c:#1c24690c; 
--lime_700:#d2ad28; 
--white_A700_a2:#ffffffa2; 
--gray_900:#060b3b; 
--bluegray_100:#c6d5d5; 
--amber_300:#ffdb5f; 
--gray_200:#e6e7eb; 
--gray_300:#dbdde2; 
--blue_50:#dae8fe; 
--cyan_300:#4ddbdb; 
--bluegray_700:#456b6b; 
--bluegray_600:#5d6180; 
--black_900_11:#00000011; 
--bluegray_200:#b4b6c4; 
--white_A700:#ffffff; 
}